h1, h2 {
    text-align: center;
    color: yellow;
}

header {
    width: 100%;
    text-align: center;
    color: yellow;
    text-size-adjust: 30;
}

body{
    background-color: burlywood;
}

.contain {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
    height: 70%;
}

.contain > .contain2 {    
    margin: 5px;
    background-color: lightblue;
    border: 2px solid gray;
}

.pendaftaran {
    padding: 5px;
    width: 100%;
    height: 100%;
}

.contain > .koleksi {
    height: 100%;
    margin: 5px;
    padding: 5px;
    border: solid gray;
    background-color: lightblue;
}

.search {
    width: 100%;
    height: 100px;
}

.inp {
    float: right;
    margin: 0px 2px;
    display: inline;
}
 
.containr {
    margin: 20px;
    width: 100%;
    background-color: lightblue;
    border: 2px solid grey;
    overflow: auto;
}

.content {
    padding: 10px;
    height: 100%;
    float: left;
}

.buku {
    margin: 5px;
    float: left;
    display: inline;
    width: 30%;
    height: 30%;
}

.cnt {
    height: 250px;
}
